html {
  scroll-behavior: smooth;
  font-family: 'Times New Roman';
}
p{

  font-family: 'Times New Roman';
}
.title {
  font-family: 'Luminari';
  font-size: 32px;
  font-weight: 200;
  margin-bottom: 40px;
}
.textMedium{
  font-family: 'Luminari';
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 20px;

}
.heavyFont{
  font-weight:800;
}

.flexRow {
  display: flex;
  flex-direction: row;
}
.flexCol {
  display: flex;
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}
.spaceAround {
  width:100%;
  justify-content: space-around;
  align-items: space-around;
}
.appBg{
  background-color:#ed9;
}
.app {
  /*-webkit-transition: background-color 1.5s;
  transition: background-color 1.5s;*/
  text-align: center;
  
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  
}
.menu {
  align-self: left;
  -webkit-transition: background-color 1.5s; /* For Safari 3.1 to 6.0 */
  transition: background-color 1.5s;
}
.blockText {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 18px;
  line-height: 27px;
}

.breaker{
  height:100px;
  width:1px;
}
.padded{
  padding-top: 50px;
  padding-bottom: 50px;
}
.container {
  width: 100%;
}

.contactIcon{
  margin: 20px;
  color:white;
}
.clickable:hover{
  opacity:0.5;
  -webkit-transition: opacity 0.15s; /* For Safari 3.1 to 6.0 */
  transition: opacity 0.15s;

}
.contactContainer{
  background-color:#ddd;
  width:100%;

}
.hidden{
  visibility:hidden;
  height:0px;
  opacity:0;
  transition: height .25s, opacity .25s;
}
.shown {
  visibility:visible;
  height:auto;
  opacity:1;
  transition: height .25s, opacity .25s;
}
.waxBtn{
  user-select: none;
  text-decoration: none;
  transition: text-shadow .5s;
}
.waxBtn:hover{
  text-decoration: none;
  text-shadow: -2px -1px #555;
  transition: text-shadow .5s;
}
.waxBtn:hover .waxText{
  margin-top: -116px;
  transition: margin-top .5s;
}

.waxBtn:hover .waxGoldText{
  margin-top: -116px;
  transition: margin-top .5s;
}
.waxText{
  font-family: 'Luminari';
  margin-top:-115px;
  margin-left:15px;
  color:white;
  transition: margin-top .5s;
}
.waxGoldText{
  font-family: 'Luminari';
  margin-top:-115px;
  margin-left:3px;
  color:white;
  transition: margin-top .5s;
}