html {
  scroll-behavior: smooth;
  font-family: 'Times New Roman';
  color: white;
}
p{
  color: white;
  font-family: 'Times New Roman';
}
.title {
  font-family: 'Luminari';
  color: white;
  font-size: 60px;
  font-weight: 200;
  margin-bottom: 40px;
}
.bioTitle {
  font-family: 'Luminari';
  color: white;
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 40px;
}
.bioWrap{
  padding-top:180px;
  padding-bottom:100px;
}
.bioScroller{
  overflow:scroll;
}
.textShadow{
  text-shadow: 3px 3px 6px #333;
}
.promoTitle {
  font-family: 'Luminari';
  color:white;
  font-size: 64px;
  font-weight: 200;
  position: absolute;
  top: 250px;
  text-align: center;
  width: 100%;
}
.textMedium{
  color: white;
  font-family: 'Luminari';
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 20px;

}
.textMobileMenu{
  color: #333;
  font-family: 'Luminari';
  font-size: 18px;
  font-weight: 700;
}
.textMenu{
  color: white;
  font-family: 'Luminari';
  font-size: 18px;
  font-weight: 700;
}
.heavyFont{
  font-weight:800;
}

.flexRow {
  display: flex;
  flex-direction: row;
}
.flexCol {
  display: flex;
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}
.spaceAround {
  width:100%;
  justify-content: space-around;
  align-items: space-around;
}
.spaceBetween {
  width:100%;
  justify-content: space-between;
  align-items: space-between;
}
.appBg{
  background-color:#cb6;
}
.app {
  /*-webkit-transition: background-color 1.5s;
  transition: background-color 1.5s;*/
  text-align: center;
  padding:0;
  margin:0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow:hidden;
}
.menu {
  z-index: 100;
  width:100%;
  /*background-color: #444;*/
    /*-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));*/
  height:40px;
  transition: opacity .5s, height .25s;
  
  opacity: 0;
  position: fixed;
  width:100%;
  overflow:hidden;
  top: 0;
  left: 0;
      
}
.blockText {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 18px;
  line-height: 27px;
}

.breaker{
  height:100px;
  width:1px;
}
.padded{
  padding-top: 50px;
  padding-bottom: 50px;
}
.container {
  width: 100%;
}
.aboutImg{
  height: auto;
  max-width:100%;
  margin-top:0vh;
  margin-left:0;
  /*background-color:red;*/
  z-index: 99;
  transition: height .5s,max-width .5s, margin-top .5s;
}
/*.aboutImg:hover{
  margin-top:-15vh;
  margin-left:-15vh;
  height:100vh;
  max-width:200%;
  z-index: 101;
  transition: height .5s,max-width .5s, margin-top .5s;
}*/
.contactIcon{
  margin: 20px;
  color:white;
}
.clickable:hover{
  opacity:0.5;
  -webkit-transition: opacity 0.15s; /* For Safari 3.1 to 6.0 */
  transition: opacity 0.15s;

}
.contactContainer{
  background-color:#ddd;
  width:100%;

}
.bioContainer{
  position:absolute;
  padding-top:0px;
  top:0;
  left:0;
  height:0px;
  overflow:hidden;
  transition: height 1s ease;
}
/*.bio{
  height:0px;
  transition: height 5s;
}*/
.active{
  height:650px;
  transition: height 1s;
}
/*.bioContainer:active{
  visibility:visible;
}*/
.hidden{
  visibility:hidden;
  height:0px;
  opacity:0;
  transition: height .25s, opacity .25s;
}
.shown {
  visibility:visible;
  height:auto;
  opacity:1;
  transition: height .25s, opacity .25s;
}
.waxBtn{
  user-select: none;
  width:200px;
  height:200px;
  text-decoration: none;

  /*background-color: red;*/
  transition: text-shadow .5s;
}
.waxBtn:hover{
  text-decoration: none;
  text-shadow: -2px -1px #555;
  transition: text-shadow .5s;
}
.waxBtn:hover .waxText{
  text-shadow: 2px 2px 3px #000000;
  /*margin-top: -114px;*/
  transition: text-shadow .5s;
}

.waxBtn:hover .waxGoldText{
  text-shadow: 2px 2px 3px #000000;
  /*margin-top: -114px;*/
  transition: text-shadow .5s;
}
.waxText{
  font-family: 'Luminari';
  margin-top:-115px;
  width: 100%;
  alignment:center;
  color:white;
  transition: text-shadow .5s;
}
.waxGoldText{
  font-family: 'Luminari';
  margin-top:-115px;
  width: 100%;
  /*background-color: yellow;*/
  alignment:center;
  color:white;
  transition: text-shadow .5s;
}
.indieImg{ 
  width: 100%;
  height: 100%; 
  /*background-color: blue;*/
}
.mobileMenu{
  height:auto;
}
.webMenu{
  visibility: hidden;
}
.gogoContainer{
  padding-left: 50px;
  padding-right: 50px;
  width:100%;
  height:600px;
}
.gogoBg{
  width: 100%;
  height: 850px;
  padding:15px;
}
.storyBg{
  height:900px;
}
.storyText{
  margin-left:150px;
  margin-right:150px;
  color:black;
}
.storyLoc{
  width:400px;
  height:400px;
  padding:0;
  padding-top:50px;
}
.storyImg{
   align-items: center;
}
.paddless{
  padding:0;
  /*margin:0;*/
}
@media screen and (min-width:960px){
  .storyImg{
    align-items: flex-start;
  }
  .storyLoc{
    width:100%;
  }
  .mobileMenu {
    visibility: hidden;
    height:0px;
  }
  .webMenu {
    visibility: visible;
  }
  .blockText{
    margin-left: 15%;
    margin-right: 15%;

  }
  .gogoContainer{
    padding-left: 100px;
    padding-right: 100px;
  }
  .gogoBg{
    padding:50px;
    height:500px;
  }
}
