html {
  scroll-behavior: smooth;
}

.title {
  font-family: 'Acme';
  font-size: 32px;
  font-weight: 200;
  margin-bottom: 40px;
}
.textMedium{
  font-family: 'Acme';
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 20px;

}

.flexRow {
  display: flex;
  flex-direction: row;
}
.flexCol {
  display: flex;
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}
.spaceAround {
  width:100%;
  justify-content: space-around;
  align-items: space-around;
}

.app {
  -webkit-transition: background-color 1.5s; /* For Safari 3.1 to 6.0 */
  transition: background-color 1.5s;
  text-align: center;
  /*background-color: #F5FFFA;*/
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 20px;
}
.menu {
  align-self: left;
  -webkit-transition: background-color 1.5s; /* For Safari 3.1 to 6.0 */
  transition: background-color 1.5s;
}
.blockText {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 18px;
  line-height: 27px;
}

.breaker{
  height:100px;
  width:1px;
}
.padded{
  padding-top: 300px;
  padding-bottom: 300px;
}
.container {
  width: 100%;
}

.contactIcon{
  margin: 20px;
  color:teal;
}
.clickable:hover{
  opacity:0.5;
  -webkit-transition: opacity 0.25s; /* For Safari 3.1 to 6.0 */
  transition: opacity 0.25s;

}
.contactContainer{
  background-color:#ddd;
  width:100%;

}